@define-color text            @secondary; /* on_surface*/
@define-color background-alt  alpha(@secondary, 0.4);
@define-color selected        @outline_variant;
@define-color hover           alpha(@on_primary, 1); /*primary*/
@define-color urgent          @error;

* {
  color: @text;

  all: unset;
  font-size: 18px;
  font-family: "SF Pro Display Medium";
  transition: 50ms;
}

/* Avoid 'annoying' backgroud */
.blank-window {
  background: transparent;
}

/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background-color: alpha(@surface_dim, 0.7);
  color: @text;
  border-radius: 14px;
  border: 1px solid @selected;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  margin: 18px;
  padding: 12px;
}

/* Notifications  */
.control-center .notification-row .notification-background {
  background-color: @background;
  border-radius: 14px;
  margin: 4px;
  padding: 4px;
  outline: 1px solid @selected;
}
.control-center .notification.critical {
  color: red;
  border-radius: 14px;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  color: @urgent;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 6px;
  padding: 6px 6px 2px 2px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  background: alpha(@selected, 0.6);
  color: @text;
  border-radius: 14px;
  margin: 6px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background: @selected;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @selected;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  color: alpha(@text, 0.8);
  margin: 10px;
  padding: 2px;
  border-radius: 10px;
  background-color: transparent;
  /* border: 1px solid transparent; */
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: alpha(@selected, 0.3);
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @selected;
  color: @background;
}

progressbar,
progress,
trough {
  border-radius: 14px;
}

progressbar {
  background-color: red;
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;
}
.notification-group-headers {
  /* adjust margin to align  */
  margin-left: 10px;
  font-weight: bold;
  font-size: 0.6rem;
  color: @text;
}

.notification-group-icon {
  color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  color: @text;
  margin: 4px;
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
}

/* WIDGETS --------------------------------------------------------------------------- */

/* Notification clear button */
.widget-title {
  font-size: 1em;
  margin: 16px;
}

.widget-title button {
  background: alpha(@hover, 0.5);
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: @hover;
}

.widget-title button:active {
  background-color: @selected;
}

/* Do not disturb */
.widget-dnd {
  margin: 16px;
  font-weight: 500;
  font-size: 1rem;
}

.widget-dnd > switch {
  min-height: 30px;
  min-width: 60px;
  background: alpha(@hover, 0.5);
  /* font-size: initial; */
  border-radius: 10px;
  box-shadow: none;
}

.widget-dnd > switch:hover {
  background: @hover;
}

.widget-dnd > switch:checked {
  background: #d71921;
  padding: 0px;
}

.widget-dnd > switch:checked:hover {
  background: #e83f2e;
}

.widget-dnd > switch slider {
  background: @text;
  border-radius: 10px;
  margin: 0px;
}

/* Buttons menu */
.widget-buttons-grid {
  font-size: x-large;
  color: @text;
  padding: 6px 2px;
  margin: 6px;
  border-radius: 14px;
  background: alpha(@hover, 0.5);
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 4px 10px;
  padding: 6px 12px;
  background: transparent;
  border-radius: 14px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @hover;
}

/* Music player */
.widget-mpris {
  /* background: alpha(@hover, 0); */
  /* background: alpha(@selected, 0.2); */
  border-radius: 16px;
  /* color: @text; */
  /* margin: 20px 6px; */
}

/* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
  border-radius: 14px;
  /* background: rgba(0, 0, 0, 0.6); */
  /* padding: 6px 14px; */
  margin: 6px;
}

.widget-mpris > box > button {
  min-width: 0;
  min-height: 0;
  background: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  /* color: @text; */
  /* border-radius: 20px; */
}
/* border: 2px solid #d71921; */

.widget-mpris button {
  background: rgba(0, 0, 0, 0.5);
  color: @text;
  margin: 8px;
  border-radius: 999px;
  min-width: 46px;
  min-height: 46px;
}

.widget-mpris button:hover {
  background: rgba(0, 0, 0, 0.3);
  color: alpha(@text, 0.8);
}

.widget-mpris-album-art {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  margin: 6px 0 0 2px;
}

.widget-mpris-title {
  color: alpha(@text, 0.8);
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 999px;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
}

.widget-mpris-subtitle {
  font-weight: 500;
  color: alpha(@text, 0.8);
  padding: 4px 8px;
  border-radius: 999px;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
}

/* Volume */
/* Brightness */
.widget-volume,
.widget-backlight {
  background: alpha(@hover, 0.5);
  color: @text;
  padding: 2px;
  margin: 8px;
  padding-left: 15px;
  border-radius: 999px;
}
/* sliders */
.widget-volume scale,
.widget-backlight scale {
  margin: 4px 8px;
}

scale trough {
  border-radius: 999px;
  min-height: 8px;
  box-shadow: inset 0 0 3px alpha(@text, 0.2);
}

scale highlight {
  min-height: 36px;
  background: @text; /* fill color */
  border-radius: 999px;
}

/* knob  */
/* scale slider { */
/*   background: ; */
/*   border-radius: 50%; */
/*   min-width: 36px; */
/*   min-height: 36px; */
/* } */
